@font-face {
  font-family: "gb";
  src:
    url("../fonts/SVN-GilroyBold.woff2") format("woff2"),
    url("../fonts/SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gr";
  src:
    url("../fonts/SVN-Gilroy.woff2") format("woff2"),
    url("../fonts/SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gm";
  src:
    url("../fonts/SVN-GilroyMedium.woff2") format("woff2"),
    url("../fonts/SVN-GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Chiều rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-gray-200; /* Màu nền của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-purple47; /* Màu của nút kéo trên thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500; /* Màu của nút kéo khi di chuột qua */
}
